<head>
  <title>Chrislist</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <link rel="SHORTCUT ICON" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Peace_sign.svg/220px-Peace_sign.svg.png">
</head>

<body>
  <video controls autoplay loop poster="yee.png" id="bgvid" class="responsive-video">
    <!-- just put images/mikeg.webm -->
    <source src="../public/images/mikeg.webm" type="video/webm">
    <source src="images/pouya.mp4" type="video/mp4">
  </video>
  <br>
  <br>
  <header class="header">
    <div class="navbar">
      <nav role="navigation">
        <div class="nav-wrapper container">
          <ul class="left">
            <img src="images/logo.png" id="logo">
            <a href="http://ubuntuserver:3000/" id="logo-container" class="brand-logo">Chrislist</a>
          </ul>
          <ul class="right">
            <li><a href="/search"><i class="material-icons left">search</i>Search Users</a></li>
            <li>
              {{#if currentUser}} Welcome, {{/if}} {{> loginButtons align=right}}
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="container">
    {{#if currentUser}}
    <br>
    <br> {{/if}} {{> form}} {{> posts}}
  </div>
  {{#if currentUser}}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">We are sophomores from Pasadena High School, and this website was made as our final project of the year for the program that we are participating in school, the App Acadmey.</p>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/augustfr0g/">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="https://mail.google.com">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Chrislist, All rights reserved.
      </div>
    </div>
  </footer>
  {{/if}}
</body>