<template name="form">
  {{#if currentUser}}
  <form action="#" class="add-new-post">
    <div class="input-field col s6">
      <input placeholder="Title for your post" value="" id="message" type="text" class="validate">
      <label class="active" for="message">Title</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="No need to put a dollar sign" value="" id="price" type="text" class="validate">
      <label class="active" for="message">Price</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="Your description" value="" id="description" type="text" class="validate">
      <label class="active" for="message">Description</label>
    </div>
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
  {{else}}
  <h3 id="login">Please log in or sign up in order to use our website!</h3> {{/if}}
</template>

<template name="posts">
  {{#if currentUser}}
  <div class="grid">
    <div class="grid-sizer"></div>
    {{#each postList}}
    <div class="grid-item card-panel">
      <i class="material-icons delete-task">delete</i> {{updateMasonry}}
      <img src="{{imageIs this.imageId}}"> Username: {{username}}
      <br> Title: {{message}}
      <br> Price: ${{price}}
      <br> Description: {{description}}
      <br> Date: {{createdAt}}
    </div>
    {{/each}}
  </div>
  {{/if}}
</template>