/*csslint */

* {
  align-content: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  background-image: url(http://codex-themes.com/scalia/wp-content/uploads/2014/12/Parallax-Background-Dark-08.jpg);
}

.row {
  text-align: center;
}

.grid-item,
.grid-sizer {
  margin-bottom: 80px;
  width: 32%;
}

.grid-item img {
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}

.header {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  color: #000;
}

footer.page-footer {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  color: #000;
}

.grid-item,
.btn,
nav {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

#login {
  color: white;
}

.brand-logo {
  margin-left: 23px;
}

.delete-task {
  color: black;
}

button.btn:hover {
  background-color: #000000;
  opacity: 0.5;
}

div.btn:hover {
  background-color: #000000;
  opacity: 0.5;
}

a.btn:hover {
  background-color: #000000;
  opacity: 0.5;
}

#logo {
  height: 70px;
  width: 70px;
  padding-right: 5px;
}

#logo-container {
  margin: 0;
}


/*Controls the size and place of video*/

video#bgvid {
  /*set the position to the before every elements*/
  position: fixed;
  right: 0;
  bottom: 0;
  /*Set the minimum height and width to 100% so it covers the whole page*/
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url() no-repeat;
  /*Covers the whole page*/
  background-size: cover;
}