<template name="search">
  {{#if currentUser}}
  <div class="container">
    <h4 class="search-title align-center">Search Users</h4>
    <div class="row">
      <i class="material-icons medium col s1">search</i>
      <div class="col s11">{{>EasySearch.Input index=usersIndex}}</div>
    </div>
    <ul class="collection">
      {{#EasySearch.Each index=usersIndex}}
      <li class="collection-item transparent">
        <div>
          {{username}}
        </div>
      </li>
      {{/EasySearch.Each}}
    </ul>
  </div>
  {{/if}}
</template>